.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 40px 0;
}

.avatar {
  width: 120px;
  border-radius: 50%;
  background-color: #e0e0e05b;
  margin-bottom: 22px;
}

.name {
  font-size: 21px;
  font-weight: 700;
  color: rgba(8, 4, 43, 0.904);
}

.tag,
.location {
  font-weight: 500;
  color: #9199ace7;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  padding: 18px 10px;
  background-color: rgba(218, 230, 243, 0.322);
  border: 1px solid rgba(213, 219, 226, 0.575);
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #82899be7;
}

.quantity {
  font-size: 20px;
  font-weight: 700;
  color: rgba(8, 4, 43, 0.904);
}
